html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: monospace;
    transition: background-color 0.3s, color 0.3s;
}

/* Light theme styles */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

/* Dark theme styles */
body.dark-theme {
    background-color: #3b3b3b;
    color: #ffffff;
}

/* Switch container position */
.switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide the checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3b3b3b;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Checked state */
input:checked + .slider {
    background-color: white;
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: #3b3b3b;
}

.text {
  height: 100vh;
  display: grid;
  place-items: center;
}

.intro {
  font-size: 2em;
  position: absolute;
  left: 10%;
  top: 15%;
  overflow: hidden; /* Ensures text is clipped if needed */
}

.line1, .line2 {
  display: inline-block;
  white-space: nowrap; /* Prevents text from wrapping */
  opacity: 0;
  overflow: hidden; /* Hide the text */
  width: 0; /* Initially hides the text */
  animation: typing 3s steps(30) 1s forwards; /* typing effect for line 1 */
  position: relative; /* Positioning for the cursor */
}

.line2 {
  animation: typing 3s steps(30) 4s forwards; /* Starts after line 1 finishes */
  opacity: 0;
}

/* Typewriter effect keyframes */
@keyframes typing {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

